@import 'mixins/mixins';//миксины scss
@import 'main/stylesheet';// шрифты
@import 'main/parameters';// переменные
@import "./main/reset";

$tablet: 1139px;
$note: 942px;
$mobile: 767px;

html {
    font-size: 16px;
    line-height: 1.4;
    color: #fff;
    background: #252B42;
    box-sizing: border-box;
    font-family: 'Roboto';
    font-weight: 400;
  }

  .container {
    width: 1130px;
    margin: 0 auto;
    padding: 0 15px;
} 

@media screen and (max-width: $tablet) {
    .container {
      width: 900px;
    }
}

@media screen and (max-width: $note) {
    .container {
      width: 700px;
    }
}

@media screen and (max-width: $mobile) {
    .container {
      width: 100%;
    }
  }

.header {
    background-image: url(../imgs/Gradient.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom ;
    

    &__top {
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
}

.logo__img-wrap {}

.logo__img {}

.nav {
    display: flex;

    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        
    }

    &__link {
    font-weight: normal;
    font-size: 15px;
    line-height: 27px;
    letter-spacing: 0.2px;
    color: #FFF;
    text-decoration: none;
    padding-right: 30px;
        }

}

.email {
       
    &__text {
        border-radius: 50px;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.1px;
        color: #18171D;
        padding: 20px 80px 20px 40px;
        border: none; 
        text-decoration: none;
        background-color: #F4F4F4;
        outline: none;
        

    }

    &__btn {
        text-align: center;
        padding-left: 10px;
       
        }
}   

@media screen and (max-width: $tablet) {

    .email__text {
        display: none;
    }
}


.btn {
    display: inline-block;
    background: #fFF;
    color: #2091F9;
    text-decoration: none;
    border-radius: 50px;
    padding: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    border: none; 
    text-decoration: none;
    cursor: pointer
            
}

.burger {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    display: none;

    &__line {
        background-color: #fff;
        height: 2px;
        width: 26px;
        margin-bottom: 5px;
    
    }

    &__line:nth-child(2) {
        width: 20px;
    }
    &__line:nth-child(3) {
        width: 14px;
    }
}


.main {

    &__inner {
        text-align: center;
        
    }

    &__top {
        font-weight: 500;
        font-style: normal;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 0.1px;
        color: #FFF;
        padding-top: 150px;

    }

    &__title {
        font-style: 400;
        font-weight: 900;
        font-size: 55px;
        line-height: 65px;
        letter-spacing: 0.2px;
        color: #FFF;
        padding-top: 30px;
    }

    &__text {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #FFF;
        padding-top: 30px;
        width: 430px;
        margin: 0 auto;
                
    }

    &__btn {
        padding-top: 100px;
           }

    &__img-wrap {
        padding-top: 100px;
        
        
    }

    }

.btn--2 {

    font-size: 22px;
    padding-left: 60px;
    padding-right: 60px;
}
.main__img {
    max-width: 100%;
    

}

.second {       
    &__inner {
    }
}

.features {

    &__subtitle {
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        text-align: center;
        letter-spacing: 0.4px;
        color: #FFF;
        padding-top: 150px;
    }

    &__title {
        font-size: 46px;
        line-height: 57px;
        font-weight: 400;
        text-align: center;
        letter-spacing: 0.4px;
        color: #FFF;
        padding-top: 20px;
    }

    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        text-align: center;
        letter-spacing: 0.4px;
        color: #FFF;
        padding-top: 20px;
        width: 300px;
        margin: 0 auto;
    }
}

.browser {
    display: flex;
    justify-content: center;

    &__inner {
        align-items: center;
        display: flex;  
        
    }

    &__img-wrap {

         }

    &__img {
     
    }

    &__blocks {}
}

@media screen and (max-width: $tablet) {
    .browser {
        display: inline;

        &__inner {
            display: inline;
                 }
        &__blocks {
            display: flex;
            justify-content: space-around;
        }
        &__img {
            max-width: 100%;
        }
    }
}


.block {

    width: 250px;
    padding-bottom: 70px;
        &__inner {}

    &__title {
       display: flex;
       align-items: center;
       padding-bottom: 20px;
  
    }

    &__img-wrap {}

    &__img {}

    &__heading {
        font-style: normal;
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 0.1px;
        color: #FFF;
        padding-left: 10px;
    }

    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.2px;
        color: #FFF;
    }
}

.subscription {

    &__inner {
        text-align: center;       
    }

    &__subtitle {
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 0.1px;
        color: #FFF;
        padding-top: 100px;
    }

    &__title {
        font-weight: 400;
        font-size: 46px;
        line-height: 57px;
        letter-spacing: 0.2px;
        color: #FFF;
        padding-top: 20px;
    }

    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #FFF;
        padding-top: 20px;
    }

    &__buttons {
        display: flex;
        padding-top: 80px;
        justify-content: center;
        .btn {
            margin-left: 20px;
        }
     padding-bottom: 320px;       
    }
}

.btn--3 {
    border: 1px solid #FFF;
    color: #FFF;
    background: #252B42;
    padding-left: 60px;
    padding-right: 60px;
}

.mail {
   
    &__inner {
        display: flex;
        justify-content: space-around
          }



    &__img-wrap {
        padding-right: 80px;
    }

    &__img {
    }

    &__content {
     
    }

    &__subtitle {
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 0.1px;
        color: #FFF;
        padding-top: 50px;
    }

    &__title {
        font-weight: 400;
        font-size: 46px;
        line-height: 57px;
        letter-spacing: 0.2px;
        color: #FFF;
        padding-top: 20px;
        
    }

    &__lead {
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 0.1px;
        color: #FFF;
        padding-top: 35px;
    }

    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.2px;
        color: #FFF;
    }

    &__btns {
        display: flex;
        padding-top: 35px;
        .btn {
            margin-left: 10px;
        }
    }

}

@media screen and (max-width: $tablet) {
    .mail {
        &__btns {
        display: inline;
        }

        &__img-wrap {
        margin-right: 30px;
        padding-right: 0;
          }
        &__img {
            max-width: 100%;
        }
}
}

@media screen and (max-width: $note) {
    .mail {
        &__inner {
            display: inline;
            text-align: center;
            }
            &__img-wrap {
                padding-right: 0;
    }
}
}


.btn--4 {
    
    color: #FFF;
    background: #2091F9;
}

.partners {
    text-align: center;
    

    &__inner {
                }

    &__title {
        font-weight: 400;
        font-size: 46px;
        line-height: 57px;
        letter-spacing: 0.2px;
        color: #FFF;
        padding-top: 200px;
    }

    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #FFF;
        width: 300px;
        margin: 0 auto;
        padding-top: 30px;
        
    }

    &__logos {}

    &__logo {
        display: flex;
        justify-content: space-between;
        
        padding-top: 90px;
    }

    &__img-wrap {}

    &__img {}

    &__btn {
        padding-top: 90px;
 
    }
}






.testimonials {
    text-align: center;
    &__inner {}

    &__title {
        font-weight: 400;
        font-size: 46px;
        line-height: 57px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #FFF;
        padding-top: 190px;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2em;
        grid-row-gap: 2em;
        padding-top: 90px;
    }

    &__cards {}

    &__item {
    
    }

    &__card {
        background: #FFFFFF;
        border: 1px solid #DEDEDE;
        box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
        border-radius: 10px;       
        text-align: center;
        padding: 40px 40px 50px 40px;
    }

    &__img-wrap {
        border-radius: 50px;
    }

    &__img {}

    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.2px;
        color: #374754;
        padding-top: 40px;
        padding-right: 5px;
    }

    &__stars {
        padding-top: 40px;

    }

    &__star {
        padding-left: 5px;
    }

    &__name {
        font-weight: 400;
        font-size: 15px;
        line-height: 27px;
        letter-spacing: 0.2px;
        color: #252B42;
        padding-top: 30px;
    }

    &__position {
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.1px;
        color: #374754;
        padding-top: 10px;
        
    }

    &__btn {
        padding-top: 80px;
    }
}

.pricing {
    max-width: 850px;
    margin: 0 auto;

    &__inner {
        display: flex;
        padding-top: 210px;
        justify-content: space-between;
            }

    &__content {
            }

    &__title {
        font-weight: 900;
        font-size: 55px;
        line-height: 65px;
        letter-spacing: 0.2px;
        color: #FFF;
    }

    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.2px;
        color: #FFF;
        max-width: 340px;
        padding-top: 25px;
    }

    &__coast {}

    &__trial {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #FFF;
        text-transform: uppercase;
    }

    &__month {
        display: flex;
        align-items: center;
        padding-top: 15px;
    }

    &__dollars {
        font-weight: 900;
        font-size: 55px;
        line-height: 65px;
        letter-spacing: 0.2px;
        color: #FFF;
    }

    &__period {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #FFF;
    }

    &__calendars {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #FFF;
        padding-top: 15px;
        max-width: 220px;
    }

    &__btn {
        padding-top: 20px;
    
    }
}

.contact {
    text-align: center;

    &__inner {
        text-align: center;
        padding-top: 330px;
        
    }

    &__title {
        font-weight: 400;
        font-size: 46px;
        line-height: 57px;
        letter-spacing: 0.2px;
        color: #FFF;
    }

    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #FFFFFF;
        padding-top: 30px;
        max-width: 300px;
        margin: 0 auto;
    }

    &__logos {
        display: flex;
        padding-top: 75px;
        justify-content: center;

    }

    &__img-wrap {
        margin-left: 35px;
    }

    &__img {}

}



.map__img-wrap {
    padding-top: 75px;
    display: flex;
    justify-content: center;
}

.map__img {
    max-width: 100%;
}

.info {
    padding-top: 60px;
    align-items: center;
    text-align: center;   

    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    &__place {
        margin-left: 35px;
  
    }

    &__img {}

    &__adress {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.1px;
        color: #FFF;
        padding-top: 20px;
        
    }

    &__phone {
        margin-left: 35px;
        
    }

    &__number {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.1px;
        color: #FFF;
        padding-top: 20px;
        text-decoration: none;
        display: flex
    }

    &__email {
        margin-left: 35px;
    }

    &__mail {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0.1px;
        color: #FFF;
        padding-top: 20px;
        text-decoration: none;
        display: flex;
    }
}

.contactus {
    padding-top: 60px;

    &__inner {
        max-width: 860px;
        background-color: #fff;
        margin: 0 auto;
        border-radius: 10px;
        padding: 50px 50px;

    }

    &__title {
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 0.1px;
        color: #252B42;
        text-align: center;
            }

    &__contents {
    }

    &__content {
        padding-top: 45px;
    }


    &__name {
    border-radius: 50px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #18171D;
    padding: 20px 520px 20px 40px;
    border: none; 
    text-decoration: none;
    background-color: #F4F4F4;
    outline: none;
    }

    &__mail {
        border-radius: 50px;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.1px;
        color: #18171D;
        padding: 20px 520px 20px 40px;
        border: none; 
        text-decoration: none;
        background-color: #F4F4F4;
        outline: none;
    }
    &__message {
        font-family: roboto;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.1px;
        color: #18171D;
        padding: 20px 520px 220px 40px;
        border: none; 
        text-decoration: none;
        background-color: #F4F4F4;
        resize: none;
        outline: none;
        
                      
    }

    &__btn {
        padding-top: 45px;
    }
}

.footer {
    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 210px 250px 130px 250px;
    }
    }

.pages {

    &__inner {}

    &__title {
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 0.1px;
        color: #FFF;
    }

    &__list {
        padding-top: 10px;
    }

    &__item {
        padding-top: 15px;
    }

    &__link {
        font-weight: 400;
        font-size: 15px;
        line-height: 27px;
        letter-spacing: 0.2px;
        color: #FFF;
        text-decoration: none;
            }

}

.tomothy {

    &__inner {}

    &__title {
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 0.1px;
        color: #FFF;
    }

    &__list {
        padding-top: 10px;
    }

    &__item {
        padding-top: 15px;
    }

    &__link {
        font-weight: 400;
        font-size: 15px;
        line-height: 27px;
        letter-spacing: 0.2px;
        color: #FFF;
        text-decoration: none;
    }

}


.jane {

    &__inner {}

    &__title {
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 0.1px;
        color: #FFF;
    }

    &__list {
        padding-top: 10px;
    }

    &__item {
        padding-top: 15px;
    }

    &__link {
        font-weight: 400;
        font-size: 15px;
        line-height: 27px;
        letter-spacing: 0.2px;
        color: #FFF;
        text-decoration: none;
    }

}

.mailing {
    
    &__inner {
    }

    &__logos {
        display: flex; 

    }

    &__img-wrap {
        margin-right: 30px;
    }

    &__img {}

    &__content {
     
    }

    &__title {
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        letter-spacing: 0.1px;
        color: #FFF;
        padding-top: 30px;
    }

    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.2px;
        color: #FFF;
        padding-top: 5px;
    }

    &__btns {
        padding-top: 30px;
        display: flex;
        flex-direction: column; 
     
    }

    &__mail {
        border-radius: 50px;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.1px;
        color: #18171D;
        padding: 20px 150px 20px 35px;
        border: none; 
        text-decoration: none;
        background-color: #F4F4F4;
        outline: none;
        margin-bottom: 10px;
                    }

    

    .btn--5 {
    
        color: #FFF;
        background: #2091F9;
        text-align: center;
        padding: 20px 150px  20px  150px;
        
    }
}

@media screen and (max-width: $tablet) {
    .mailing {
        padding-top: 80px;
        text-align: center;
        align-items: center;
        margin: 0 auto;
        &__logos {
        justify-content: center;
        }
    }
}